<header class="header">
  <div class="header-left">
    <button class="menu-toggle" onclick="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="header-right">
    <img src="/client/assets/images/UOB-new-logo.png" alt="UoB Logo" class="header-logo">
    <div class="user-pill">
      <div class="user-avatar" id="userAvatar">AD</div>
      <div class="user-info">
        <div class="user-name" id="userName">Admin</div>
        <div class="user-role">Administrator</div>
      </div>
    </div>
  </div>
</header>